
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    background-image: url(./images/font2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
   
    
}

.navbar nav{
        width: 100%;
        display: flex; /* Utilisation de Flexbox pour aligner le contenu horizontalement */
        align-items: center; /* Aligner les éléments verticalement au centre si nécessaire */
        justify-content: space-between; /* Espace égal entre le logo et les liens de navigation */
        padding: 10px 20px;
        overflow: hidden;
       
}

.navbar a{
    text-decoration: none;
}


.navbar .navlink ul{
    display: flex;

}
.navbar .navlink ul li {
  margin:0 50px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.navbar .logo img {
    max-width: 50px;
    margin-right:40px;
}
  
.images{
    width: 35%;
    height: 650px;
    margin-left:70px;
    margin-right: 20px; 
    float: left;
    position: relative;
   
}

.image {
    width: 100%;
    height: 100%;
    background-image: url(./images/main22.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
   
}

.rond{
    width: 100%;
    height:550px;
    border-radius: 50% 75% 50% 70%;
    background-color: #d97c5c;
    position: absolute;
    z-index: 0;
    margin-top:55px;
}



.titre {
    
    float: left;
    width: 45%;
    margin-top:150px;
    padding: 20px;
}

.titre h1{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    margin:0;
    font-weight: bolder;
}

.titre h2{
    color: #d97c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    margin: 0;
    font-weight: bold;}

.titre h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
}